@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
@if (@Model.FlavorTreats.Count == 0)
{
  <p>This Treat does not belong to any Flavors</p>
}
else
{
  <h4>Flavors the Treat belongs to:</h4>
  <ul>
  @foreach (var ft in Model.FlavorTreats)
    {
      @Html.ActionLink($"{ft.Flavor.Name}", "Details", "Flavors", new {id = ft.Flavor.FlavorId})
    }
  </ul>
}
@if (ViewBag.IsOwner)
{
  @Html.ActionLink("Edit", "Edit", new {id = Model.TreatId}, new {@class="btn btn-info"})
  <hr />
  @Html.ActionLink("Delete", "Delete", new {id = Model.TreatId}, new {@class="btn btn-warning"})
}
else
{
  <p>You don't have access to edit</p>
}
